body{
    overflow-x: hidden;
}
.weblogo {
    width: 65px;
}
.navbar{
    background-color: #00000082;
}
.navbar-nav li{
    padding: 0 10px;

}
.navbar-nav li a{
    color: #fff;
    font-size: 20px;
}


.a {
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.b {
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
}

.img {
    width: 80%;
}



.c {
    background-image: url(https://pn-paul.netlify.app/image/img%20background.jpg);
    width: 100%;
    height: 400px;
}
.c2{
    background-image: url(https://pn-paul.netlify.app/image/gamebanner.jpg);
    width: 100%;
    height: 400px;
}

.d {
    padding-top: 50px;
    letter-spacing: 2px;

}

.e {
    line-height: 50px;
    letter-spacing: 2px;
    word-spacing: 1px
}

.cc {
    background-image: url(https://pn-paul.netlify.app/image/ffback2.png);
    width: 100%;
    height: 400px;
}

.f {
    padding-top: 75px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.g {
    line-height: 35px;
    letter-spacing: 1px;
    word-spacing: 2px;
}
/* @media query */
@media(max-width:768px) {
    .img {
        width: 100%;
    }
}
